FORC_API_KEY={{ FORC_API_KEY }}
FORC_SECRET_KEY={{ FORC_SECRET_KEY }}
FORC_BACKEND_PATH={{ FORC_BACKEND_PATH }}
FORC_TEMPLATE_PATH={{ FORC_TEMPLATE_PATH }}
FORC_VERSION={{ FORC_VERSION | default(0.2) }}
FORC_SERVICE_USE_HTTPS={{ FORC_SERVICE_USE_HTTPS | default(True) }}
FORC_LOCAL_IP={{ FORC_SERVICE_USE_HTTPS | default(127.0.0.1) }}
FORC_OIDC_CLIENT_ID={{ FORC_OIDC_CLIENT_ID }}
FORC_OIDC_CLIENT_SECRET={{ FORC_OIDC_CLIENT_SECRET }}
FORC_OIDC_DISCOVERY_URL={{ FORC_OIDC_DISCOVERY_URL }}
FORC_SERVICE_PORT={{ FORC_SERVICE_PORT }}
DOMAIN= {{ DOMAIN}}
DEBUG={{ FORC_DEBUG | default(False) }}
LOG_LEVEL={{ FORC_LOG_LEVEL | default('INFO') }}


