FORC_API_KEY={{ FORC_API_KEY }}
FORC_SECRET_KEY={{ FORC_SECRET_KEY }}
FORC_BACKEND_PATH={{ FORC_BACKEND_PATH }}
FORC_TEMPLATE_PATH={{ FORC_TEMPLATE_PATH }}
FORC_VERSION={{ FORC_VERSION | default(0.2) }}
FORC_SERVICE_USE_HTTPS={{ FORC_SERVICE_USE_HTTPS | default(True) }}
FORC_LOCAL_IP={{ FORC_LOCAL_IP | default("0.0.0.0") }}
FORC_OIDC_CLIENT_ID={{ FORC_OIDC_CLIENT_ID }}
FORC_OIDC_CLIENT_SECRET={{ FORC_OIDC_CLIENT_SECRET }}
FORC_OIDC_DISCOVERY_URL={{ FORC_OIDC_DISCOVERY_URL }}
FORC_SERVICE_PORT={{ FORC_SERVICE_PORT }}
DOMAIN={{ DOMAIN }}
DEBUG={{ FORC_DEBUG | default(False) }}
LOG_LEVEL={{ FORC_LOG_LEVEL | default('INFO') }}
OPENRESTY_WORKER_PROCESSES={{ OPENRESTY_WORKER_PROCESSES | default('auto') }}
OPENRESTY_DNS_SERVER={{ OPENRESTY_DNS_SERVER | default('127.0.0.11') }}
OPENRESTY_WORKER_CONNECTIONS={{ OPENRESTY_WORKER_CONNECTIONS | default(2048) }}
OPENRESTY_WORKER_RLIMIT_NOFILE={{ OPENRESTY_WORKER_RLIMIT_NOFILE | default(65535) }}
